body{
  .container{
    .block{
      width: 10px;
      height: 10px;

      span{
        color:green;
      }
      &.blue{
        background-color: blue;
      }
      &.red{
        background-color: red;
      }
    }
  }
}